In [1]:
import pandas as pd
import random
import string

# function in Excel
#=CONCATENATE(CHOOSE(RANDBETWEEN(1,4),"AP","TS","MP","MH"),TEXT(RANDBETWEEN(0,99),"00"),CHOOSE(RANDBETWEEN(1,5),"A","B","C","D","E"),TEXT(RANDBETWEEN(0,9999),"0000"))

In [2]:
def cars(x):
    for i in range(x):    
        print( random.choice(['TS ','AP ','MH ','MP '])+str(random.randint(0,9))+str(random.randint(0,9))+" "+ random.choice(string.ascii_uppercase) + random.choice(string.ascii_uppercase) +" "+ str(random.randint(0,9))+ str(random.randint(0,9))+ str(random.randint(0,9))+ str(random.randint(0,9)))

In [3]:
cars(10)

MH 35 DH 9916
AP 78 SB 7050
AP 57 KF 8473
TS 37 DE 4217
TS 79 ML 8364
MP 77 FA 3186
MH 39 BD 4934
MH 45 XW 2494
MP 01 AB 8217
MH 72 ZR 0812

In [4]:
df=pd.read_excel('synth_data.xlsx',sheetname='forpandas')

C:\Users\Harsha\AppData\Local\Programs\Python\Python36\lib\site-packages\pandas\util\_decorators.py:118: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

In [5]:
df.head()

,Date,Time,Cars In,Cars Out,ppl In,ppl Out,total cars atm,Total people atm,Date-Time
0,2018-07-08,00:00:00,14,3,1,15,111,136,2018-07-08 00:00:00.000
1,2018-07-08,01:00:00,11,2,1,3,109,148,2018-07-08 01:00:00.000
2,2018-07-08,02:00:00,3,11,10,18,92,142,2018-07-08 01:59:59.990
3,2018-07-08,03:00:00,12,10,13,0,102,163,2018-07-08 02:59:59.985
4,2018-07-08,04:00:00,4,8,0,13,96,137,2018-07-08 03:59:59.980

In [6]:
df['Time']

0     00:00:00
1     01:00:00
2     02:00:00
3     03:00:00
4     04:00:00
5     05:00:00
6     06:00:00
7     07:00:00
8     08:00:00
9     09:00:00
10    10:00:00
11    11:00:00
12    12:00:00
13    13:00:00
14    14:00:00
15    15:00:00
16    16:00:00
17    17:00:00
18    18:00:00
19    19:00:00
20    20:00:00
21    21:00:00
22    22:00:00
23    23:00:00
24    00:00:00
25    01:00:00
26    02:00:00
27    03:00:00
28    04:00:00
29    05:00:00
        ...
66    18:00:00
67    19:00:00
68    20:00:00
69    21:00:00
70    22:00:00
71    23:00:00
72    00:00:00
73    01:00:00
74    02:00:00
75    03:00:00
76    04:00:00
77    05:00:00
78    06:00:00
79    07:00:00
80    08:00:00
81    09:00:00
82    10:00:00
83    11:00:00
84    12:00:00
85    13:00:00
86    14:00:00
87    15:00:00
88    16:00:00
89    17:00:00
90    18:00:00
91    19:00:00
92    20:00:00
93    21:00:00
94    22:00:00
95    23:00:00
Name: Time, Length: 96, dtype: object

In [7]:
#!pip3 install dash
#!pip3 install dash-renderer
#!pip3 install dash-html-components
#!pip3 install dash-core-comonents
#!pip3 install plotly

In [8]:
from datetime import datetime as dt
from datetime import date

In [9]:
date.today()

datetime.date(2018, 7, 23)

In [10]:
df.columns

Index(['Date', 'Time', 'Cars In', 'Cars Out', 'ppl In', 'ppl Out',
       'total cars atm', 'Total people atm', 'Date-Time'],
      dtype='object')